body, html {
    margin:0;
    padding:0;
    width:100%;
}

body {
    display: grid;
    grid-template-columns: 17em 80% 1fr ;
    grid-template-rows: 280px auto 100px;

    color: rgb(50, 50, 50);
    line-height: 1.5em;
}

#menu {
    position: fixed;
    top:0;
    left:0;
    width:14em;
    border-right:solid 10px #ccc;
    border-bottom:solid 10px #ccc;
    background-color: #eee;
    z-index: 100;
}
#menu > h4 {
    margin-left: 10px;
}
#menu ul {
    margin-left: 0;
    padding-left: 20px;
    list-style-type: none;
}

#menu li {
    margin-top: 5px;
}

#header {
    overflow: hidden;
}

.header {
    background-color: #eee;
    border-bottom: solid 10px #ccc;
}

#slogan {
    font-size: 18px;
    font-weight: 400;
    color: #2f2f2f;

    overflow: hidden;
}

#idn-title {
    font-size: 4em;
    line-height: 1em;
    font-weight: 400;
    color: #2f2f2f;

    display: flex;
    align-items: center;
}

#description {
    padding: 10px;
}

#nav a {
    color: #333;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0 10px 0 10px;
}

#metadata {
    font-size: small;
    padding: 20px;
    background-color: #eee;
}

#content {
    margin-top: 30px;
}

h1 {
    font-family: sans-serif;
    padding: 0;
    margin: 0 0 0.2em 0;
    color: #2f2f2f;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.1;
}

h2 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 2em;
}

h3 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}

h4 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.25em;
}

p, li, a, dd, dt, th, td, div {
    font-family: sans-serif;
}

li + li {
  margin-top: 10px;
}

.footer {
    background-color: #eee;
    padding-top:30px;
}

a {
    color: #990000;
    text-decoration: none;
}

a:hover {
    color: rgb(221, 37, 37);
}

section {
    margin-top: 2em;
}

dt {
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
}

dd {
    font-size: medium;
    margin-top: 10px;
}

p.quote {
    margin: 20px;
    font-style: italic;
    width: 50%;
}

p.req {
    background-color: #eee;
    padding:20px;
}

p.eg {
    background-color: #ccc;
    padding:20px;

    font-family: monospace;
    white-space: pre-wrap;
    font-size: 1.1em;

    position: relative;
}
p.eg span {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #999;
}

code {
    font-size: 1.2em;
    font-family: monospace;
}

#toc {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border: solid 1px navy;
    font-size: small;
    width: 180px;
    background-color: white;
}
#toc h3 {
    margin-top: 5px;
}

#toc ul {
    list-style: none;
    padding-left: 0;
}

#toc .first > li {
    margin-top: 5px;
}

#toc .second,
#toc .third {
    padding-left: 10px;
}

.metadata th,
.metadata td {
    padding: 5px;
}

.metadata th {
    text-align: right;
}

.proplink {
    text-decoration: underline dashed;
    color:rgb(50, 50, 50);
}

#namespaces dl {
    font-size: small;
    padding-left: 20px;
}

.figure {
    padding: 10px;
    text-align: center;
}

.figure .caption {
    font-size: small;
    font-style: italic;
    width: 25%;
    margin: 0 auto;
}

table.properties {
    border-collapse: collapse;
}

table.properties th,
table.properties td {
    text-align: left;
    padding: 10px;
}

table.properties tr {
    height: 1.5em ;
}

table.properties tr:nth-child(odd){
    background: #ccc;
}

table.properties tr:nth-child(even){
    background: #eee;
}

.todo {
    font-style:italic;
    padding:5px;
    min-height: 3em;
    background-color: lightgoldenrodyellow;
}